body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  min-width: 400px;
  background: #fff;
}
.row {
  width: auto;
  max-width: 1024px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
section {
  margin: 15px;
  padding: 15px;
}
section .title_box {
  font-size: 45px;
  color: #2b323e;
  font-weight: normal;
  text-align: left;
  margin: 0;
  padding: 0;
}
section .descrip {
  font-size: 16px;
  color: #777;
  font-weight: normal;
  line-height: 35px;
}
.talks {
  background: #f6f6f6;
  text-align: center;
  margin: 0;
  padding: 10px;
}
.talks ul li {
  display: inline-table;
  margin: 0;
  padding: 10px;
}
.talks ul li .box {
  display: table;
  background: #fff;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}
.talks ul li .box h3 {
  margin: 0;
  padding: 0;
}
.talks ul li .box h3 a {
  font-size: 15px;
  color: #0061aa;
  font-weight: normal;
}
.talks ul li .box span {
  font-size: 14px;
  color: #2b323e;
  font-weight: normal;
}
.horarios {
  margin-top: 30px;
  width: 100%;
  height: auto;
  font-size: 15px;
  color: #777;
  font-weight: normal;
  text-align: left;
}
.horarios thead {
  font-size: 16px;
  color: #0061aa;
  font-weight: bold;
}
.horarios thead .th1 {
  width: 15%;
  height: auto;
}
.horarios thead .th2 {
  width: 25%;
  height: auto;
}
.horarios thead .th3 {
  width: 60%;
  height: auto;
}
.horarios tbody tr:hover {
  background: #ffffdf !important;
}
.horarios tbody tr:nth-child(even) {
  background: #fff;
}
.horarios tbody tr:nth-child(odd) {
  background: #f6f6f6;
}
.horarios tbody .hrs {
  color: #0061aa;
}
.horarios tbody td {
  padding: 15px 25px;
}
.horarios tbody td img {
  width: 45px;
  height: auto;
  border-radius: 20px;
  position: absolute;
}
.horarios tbody td .desc h3 {
  padding-left: 60px;
  font-size: 15px;
  color: #777;
  font-weight: normal;
}
.maps {
  display: inline-block;
  width: 100%;
  position: relative;
}
.maps .descMaps {
  background: rgba(49,53,64,0.9);
  width: 400px;
  height: auto;
  color: #fff;
  position: absolute;
  max-width: 700px;
  text-align: center;
  right: 0;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all;
  -moz-transition: all;
  -o-transition: all;
  transition: all;
  top: 20%;
}
.maps .map-overlay {
  background: transparent;
  position: relative;
  width: 100%;
  height: 400px;
  top: 400px;
  margin-top: -400px;
  color: transparent;
  text-align: center;
  cursor: pointer;
}
.maps iframe {
  width: 100%;
  height: 400px;
}
.sponsors,
.organizers {
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.sponsors ul li,
.organizers ul li {
  display: inline-table;
  text-decoration: none;
  margin: 0px 10px;
}
.organizers {
  background: #f6f6f6;
  text-align: center;
  margin: 0;
  padding: 10px;
}
.organizers ul li {
  display: inline-table;
}
.organizers ul li .box {
  display: table;
  background: #fff;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}
.organizers ul li .box h3 {
  margin: 0;
  padding: 0;
}
.organizers ul li .box h3 a {
  font-size: 15px;
  color: #0061aa;
  font-weight: normal;
}
.organizers ul li .box h3 span {
  font-size: 14px;
  color: #2b323e;
  font-weight: normal;
}
header {
  background: url("../image/banner.jpg");
  background-size: cover;
  min-height: 400px;
}
header .barHeader {
  background: rgba(43,50,62,0.9);
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}
header .barHeader .logo {
  float: left;
  clear: none;
  width: 14.166666666666702%;
  margin-left: 0;
  margin-right: 3%;
}
header .barHeader .logo:last-child {
  margin-right: 0;
}
header .barHeader .logo h1 {
  margin: 0;
  padding: 0;
}
header .barHeader .logo h1 a {
  background: url("../image/logoMin.png") no-repeat;
  text-indent: -999999px;
  display: table;
  width: 49px;
  height: 28px;
  top: 12px;
  position: relative;
}
header .barHeader nav {
  float: left;
  clear: none;
  width: 82.8333333333333%;
  margin-left: 0;
  margin-right: 3%;
}
header .barHeader nav:last-child {
  margin-right: 0;
}
header .barHeader nav li {
  display: inline-table;
}
header .barHeader nav li a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  font-weight: normal;
  margin: 0;
  padding: 10px;
}
header .cont {
  width: 100%;
  height: auto;
  min-height: 400px;
  text-align: center;
  background: rgba(0,0,0,0.5);
  margin-top: 50px;
  padding-top: 50px;
}
header .cont h1 {
  background: url("../image/logo.png") no-repeat;
  width: 399px;
  height: 149px;
  text-indent: -999999px;
  margin: 0 auto;
}
header .cont a {
  background: #0061aa;
  font-size: 27px;
  color: #fff;
  font-weight: normal;
  padding: 10px 70px;
  text-decoration: none;
  position: relative;
  top: 40px;
  text-transform: uppercase;
  border-bottom: 6px solid #02518c;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
header .cont a:hover {
  background: #02518c;
  border-bottom: 6px solid #0061aa;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
header .cont p {
  font-size: 16px;
  color: #fff;
  font-weight: normal;
  text-align: center;
  padding-left: 100px;
}
@media (max-width: 768px) {
  #header .barHeader {
    display: none;
  }
  #header .cont {
    margin-top: 0;
  }
  #header .cont a {
    padding: 10px 20px;
  }
  .maps .descMaps {
    clear: both;
    bottom: 0;
    width: 100%;
    top: auto;
  }
  section {
    margin: 0;
    padding: 0;
  }
  article {
    margin: 0px;
    padding: 20px;
  }
}
