body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}
.row {
  width: auto;
  max-width: 1024px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
section {
  margin: 15px;
  padding: 0;
}
section h1 {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  background: #313540;
  display: table;
  margin: 0;
  padding: 10px;
}
section p {
  background: #e6e6e8;
  margin: 0;
  padding: 20px;
  font-size: 16px;
  color: #313540;
  font-weight: normal;
  line-height: 40px;
}
.talks {
  background: #313540;
  text-align: center;
  margin: 0;
  padding: 10px;
}
.talks ul li {
  display: inline-table;
  margin: 10px 20px;
}
.talks ul li .box {
  display: table;
  background: #fff;
  text-align: left;
  margin: 0 auto;
  padding: 10px;
}
.talks ul li .box h3 {
  margin: 0;
  padding: 0;
  color: #313540;
}
.talks ul li .box span {
  font-size: 14px;
  color: #fc0;
  font-weight: normal;
}
.horarios {
  width: 100%;
  height: auto;
  text-align: left;
}
.horarios thead {
  font-size: 21px;
  color: #313540;
  font-weight: bold;
}
.horarios thead .th1 {
  width: 15%;
  height: auto;
}
.horarios thead .th2 {
  width: 25%;
  height: auto;
}
.horarios thead .th3 {
  width: 60%;
  height: auto;
}
.horarios tbody tr:nth-child(even) {
  background: #fff;
}
.horarios tbody tr:nth-child(odd) {
  background: #e6e6e8;
}
.horarios tbody td {
  padding: 15px 25px;
}
.horarios tbody td img {
  width: 45px;
  height: auto;
  border-radius: 20px;
  position: absolute;
}
.horarios tbody td .desc {
  float: right;
}
.maps .descMaps {
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: auto;
  color: #fff;
  position: absolute;
  max-width: 700px;
  text-align: center;
  right: 0;
}
.maps iframe {
  width: 100%;
  height: 400px;
}
.sponsors,
.organizers {
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.sponsors ul li,
.organizers ul li {
  display: inline-table;
  text-decoration: none;
  margin: 0px 20px;
}
.organizers p {
  margin: 0;
  padding: 0;
  background: none;
}
.organizers img {
  width: 160px;
  height: auto;
}
header {
  background: url("../image/banner.jpg");
  background-size: cover;
  min-height: 450px;
}
header .barHeader {
  background: rgba(0,0,0,0.75);
  position: fixed;
  width: 100%;
  z-index: 1;
}
header .barHeader .logo {
  float: left;
  clear: none;
  width: 14.166666666666702%;
  margin-left: 0;
  margin-right: 3%;
}
header .barHeader .logo:last-child {
  margin-right: 0;
}
header .barHeader .logo h1 {
  margin: 0;
  padding: 0;
}
header .barHeader .logo h1 a {
  background: url("../image/logoMin.png") no-repeat;
  text-indent: -999999px;
  display: table;
  width: 49px;
  height: 28px;
  top: 12px;
  position: relative;
}
header .barHeader nav {
  float: left;
  clear: none;
  width: 82.8333333333333%;
  margin-left: 0;
  margin-right: 3%;
}
header .barHeader nav:last-child {
  margin-right: 0;
}
header .barHeader nav li {
  display: inline-table;
}
header .barHeader nav li a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  font-weight: normal;
  margin: 0;
  padding: 10px;
}
header .cont {
  width: auto;
  max-width: 500px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  top: 80px;
  display: table;
}
header .cont h1 {
  background: url("../image/logo.png") no-repeat;
  width: 399px;
  height: 149px;
  text-indent: -999999px;
}
header .cont a {
  background: #fc0;
  font-size: 30px;
  color: #fff;
  font-weight: normal;
  padding: 10px 80px;
  text-decoration: none;
  position: relative;
  top: 40px;
}
header .cont p {
  font-size: 16px;
  color: #fff;
  font-weight: normal;
  text-align: center;
}
@media (max-width: 768px) {
  .barHeader {
    width: 100%;
    height: 50px;
  }
  .barHeader h1 a {
    left: 50px;
  }
  .barHeader nav {
    display: none;
  }
  .talks ul li,
  .organizers ul li {
    width: 40%;
    height: auto;
    margin: 10px 0px;
  }
  .talks ul li .box,
  .organizers ul li .box {
    padding: 5px;
  }
  .horarios tbody td img {
    position: relative;
  }
  .horarios tbody td .desc {
    float: left;
  }
}
