// Mixins and Placeholders
%clearfix {
	&:after, &:before {
		content: '';
		display: block;
		width: 100%;
		clear: both;
	}
}

// Prefix
@mixin prefix($prop, $val) {
	@each $prefix in '-webkit-', '-moz-', '-ms-', '' {
		#{$prefix}#{$prop}: $val;
	}
}

// Opacity
@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie); //IE8
}

// Size
@mixin size($w, $h) {
	width: $w;
	height: $h;
}

// Responsive
@mixin tablet() {
	@media screen and (max-width: $tablet-width) {
		@content;
	}
}

@mixin cell() {
	@media screen and (max-width: $cell-width) {
		@content;
	}
}
