// Variables

// Colors
$green: #67a78c;
$red: #f0575a;
$light-gray: #f2f2f2;

$body-bg: $light-gray;
$primary-color: $green;
$secondary-color: $red;

$footer-color: #050505;

// Typography
$font-main: 'Lato', sans-serif;
$font-size: 16px;

// Spaces
$gutter: 20px;
$gutter-section: 50px;

// Slide
$dot-on: $primary-color;
$dot-off: #acacac;

// Sizes
$tablet-width: 768px !default;
$cell-width: 568px !default;
