// Menu Navigation
#nav {
	@include column(8/12);
	ul {
		display: block;
		text-align: right;
		padding: 0 20px;

		.nav-item {
			display: inline-block;
			position: relative;

			&:before {
				content: '';
				height: 0;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				background: $secondary-color;
				@include prefix(transition, all .3s ease);
			}

			a {
				padding: 35px 20px 27px;
				font-weight: 600;
				color: #2b2b2b;
				display: inline-block;
				text-transform: uppercase;
				position: relative;
			}

			&:hover {
				a {
					color: #fff;
				}

				&:before {
					content: '';
					height: 100%;
					background: $secondary-color;
				}
			}
		}
	}
}
