//variables

//-----colors
blue = rgb(0, 97, 170)
light-blue = rgb(2, 81, 140)
dark-blue =  rgb(43, 50, 62)
light-gray = #e6e6e8
gray = #777
white = #ffffff



//-----mix
space(m,p)
	margin m
	padding p

font(fs,c,fw)
	font-size fs
	color c
	font-weight fw

size(w,h)
	width w
	height h
	
transition(sg)
	-webkit-transition: sg
	-moz-transition: sg
	-o-transition: sg
	transition: sg