
html
	size(100%,100%)
	
body
	size(100%,100%)
	space(0,0)
	background url(../images/bgbarra.jpg)
	background-size cover
	position fixed
	direction(0,0,auto,auto)

	.logo
		size(300px,260px)
		direction(50%,50%,auto,auto)
		space(0 auto,auto)
		background url(../images/logo.svg)
		background-size cover
		position	absolute
		margin-left -150px
		margin-top -130px
		


		// 435c63