@import 'variables'
	
//header	
header
	background url(../image/banner.jpg)
	background-size cover
	min-height 450px
	//barHeader
	.barHeader
		background rgba(0,0,0,0.75)
		position fixed
		width 100%
		z-index 1
		//logo
		.logo
			column(1/6) 
			h1 
				space(0,0)
				a
					background url(../image/logoMin.png) no-repeat
					text-indent	-999999px
					display: table;
					size(49px,28px)
					top: 12px;
					position: relative;
		//nav	
		nav
			column(5/6)
			li
				display inline-table
				a
					text-decoration: none;
					font(16px,white,normal)
					space(0,10px)
	
	.cont
		center(500px)	
		position relative
		top 80px
		display table
		h1
			background url(../image/logo.png) no-repeat
			size(399px,149px)
			text-indent	-999999px
		a
			background yellow
			font(30px,white,normal)
			padding 10px  80px
			text-decoration none
			position relative
			top 40px
		p
			font(16px,white,normal)
			text-align center
		
		
	

