@import 'variables'

//Main
body
	space(0,0)
	font-family Arial, Helvetica, sans-serif
	min-width 400px
//row div
.row
	center(1024px)
//desc
section	
	space(15px,0)
	h1
		font(30px,white,bold)
		background blue
		display table
		space(0,10px)
	p
		background light-gray
		space(0,20px)
		font(16px,blue,normal)
		line-height 40px
