@import 'variables'

//Main
body
	space(0,0)
	font-family 'Ubuntu', sans-serif
	min-width 400px
	background white
//row div
.row
	center(1024px)
//desc
section	
	space(15px,15px)
	.title_box
		font(45px,dark-blue,normal)
		text-align left
		space(0,0)
	.descrip
		font(16px,gray,normal)
		line-height 35px
		
		