@import 'variables'

@media	(max-width:	768px)
	//header
	.barHeader
		size(100%,50px)
		h1 a
			left 50px
		nav
			display none
	//talks
	.talks,.organizers
		ul li
			size(40%,auto)
			margin 10px 0px
			.box
				padding 5px
	//horarios
	.horarios tbody td 
		img
			position relative
		.desc
			float left
		
			
