@import 'variables'

@media	(max-width:	768px)
	#header
		.barHeader
			display none
		.cont
			margin-top 0
			a
				padding 10px 20px
	
	.maps .descMaps
		clear both
		bottom 0
		width 100%
		top auto
	
	section
		space(0,0)
	article
		space(0px,20px)
		
			
