//variables


//-----colors
blue = #313540
yellow = #ffcc00
light-gray = #e6e6e8
white = #ffffff



//-----mix
space(m,p)
	margin m
	padding p

font(fs,c,fw)
	font-size fs
	color c
	font-weight fw

size(w,h)
	width w
	height h