//-----mix
space(m,p)
	margin m
	padding p

font(fs,c,fw)
	font-size fs
	color c
	font-weight fw

size(w,h)
	width w
	height h
	
transition(sg)
	-webkit-transition: sg
	-moz-transition: sg
	-o-transition: sg
	transition: sg
	
direction(t,l,b,r)
	top t
	left l
	botton b
	right r